.resultado{
    margin-top:20px;
    width:400px;
    padding:10px;
    background:var(--bg-color2);
    border-radius: 20px;
    text-align: center;

}

.imcSpan{
    color:var(--font-color3)
}

.tabela{
    background:var(--bg-color1);
    color:var(--font-color1);
    width:370px;
    border-radius: 20px;
    padding:15px;
    text-align:center;
    border-spacing:0;
}

.tableHeader th{
    border-bottom: 2px solid var(--font-color1);
    padding: 9px;

}
.tableBody tr td{
    padding-top:10px;
}


@media (max-width:500px){
    .tabela, .resultado{
        width: 100%;    
    }
}